  .tablesorter thead,
  td {
    box-sizing: border-box;
    border: 1px solid #919EAB;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #191925;
    line-height: 25px;
    padding: 0px 30px 0px 10px;
  }

  .tablesorter .tier1, .tier4 {
    background: #F4F6F8;
  }

  .tablesorter .tier2, .tier5 {
    background: #DFE3E8;
  }

  .tablesorter .tier3 {
    background: #C4CDD5;
  }

  .tablesorter tr:hover {
    background-color: #E0F5F5;
  }

  .tablesorter th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #B3BCF5;
    padding: 0px 30px 0px 10px;
    -webkit-box-shadow: 0px 3px 5px grey;
    -moz-box-shadow: 0px 3px 5px grey;
    box-shadow: 0px 3px 5px grey;
  }

  .drilltable {
    overflow-x: auto;
  }

  .drill_int {
    text-align: right;
  }
